html {
	padding:0px;
	margin:0px;
}
.controls {
	pointer-events:all;
}
body {
	height:5900px;
	background-color:rgba(230, 220, 220, .5);
	padding:0px;
	margin:0px;
}
.tag-cloud {
	position:relative;
	width:100%;
	font-family:"Raleway";
	font-size:14px;
}
.tag-link {
	font-family:"Raleway";
	font-weight:bold;
	margin:2px;
	color:rgba(120, 0, 20, .5);
}
.tag-link:hover {
	margin:2px;
	color:rgba(230, 10, 90, .5);
}
.sublogo-main {
	top:-6px;
	padding:4px;
	position:relative;
	display:inline-block;
	font-size:24px;
	font-family:"Just Another Hand"
}
.logo-icon {
	position:relative;
	display:inline-block;
	width:40px;
	height:40px;
}
.logo-main {
	top:-6px;
	position:relative;
	display:inline-block;
	font-size:36px;
	font-family:"Just Another Hand"
}
.top-link {
	margin:5px;
	display:inline-block;
	font-size:24px;
	font-family:"Just Another Hand";
	color:rgba(0, 0, 0, .6);
	text-decoration:none;
}
.top-link:hover {
	color:rgba(0, 0, 0, 1);
}
.top-link:active {
	color:rgba(0, 0, 0, .5);
}
#header {
	position:relative;
	padding:5px;
	top:0px;
	box-sizing:border-box;
	width:100%;
	height:50px;
	background-color:rgba(0, 0, 0, .1);
}
#top-nav {
	position:absolute;
	text-align:right;
	width:300px;
	top:10px;
	right:20px;
}
.narrow-col {
	width:300px;
}
.wide-col {
	width:500px;
}

#main {
	position:relative;
	min-height:500px;
	width:100%;
	top:0px;
	left:0px;
}
#main-col {
	box-sizing:border-box;
	position:relative;
	top:0px;
	padding:0px;
	height:100%;
	margin:0px auto;
	width:800px;
	height:600px;
}
#nav-col {
	display:flex;
	flex-direction:column;
	min-height:100px;
	float:left;
	position:relative;
	height:100%;
}
canvas {
	width:100%;
	height:100%;
}
#content-col {
	display:flex;
	flex-direction:column;
	min-height:100px;
	position:relative;
	height:100%;
}
.card {
	min-height:200px;
	margin:6px;
	border-radius:15px;
	padding:2px;
	background-color:rgba(255, 253, 245, 1);
	box-shadow:1px 2px 15px 1px rgba(0, 0, 0, .5);
}
.card  .header {
	border-radius:12px 12px 3px 3px;
	padding:4px;
	position:relative;
	background-color:rgba(100, 90, 80, .2);
}
.card .title {
	position:relative;
	font-size:18px;
	font-weight:bold;
	color:rgba(50, 20, 0, .6);
	font-family:"Raleway"
}
.card .content {
	padding:5px;
	position:relative;
	font-size:14px;
	color:rgba(50, 20, 0, .6);
	font-family:"Raleway"
}
.tab-holder {
	position:relative;
	white-space:nowrap;
	background-color:rgba(100, 190, 80, 1);
}
.tab-holder  .tab {
	z-index:15;
	position:relative;
	display:inline-block;
	padding:3px;
	border-radius:5px 5px 0px 0px;
	background-color:rgba(255, 255, 255, .1);
	box-shadow:-1px -1px 1px 0px rgba(0, 0, 0, .5);
}
.tab-holder  .tab.open {
	background-color:rgba(255, 255, 255, .3);
	z-index:25;
}
.content-box {
	position:relative;
	flex:0 0 auto;
	display:flex;
	flex-direction:column;
}
.content-box .content {
	z-index:20;
	position:relative;
	box-sizing:border-box;
	flex:1 1 auto;
	width:100%;
	padding:20px;
	overflow:scroll;
	background-color:rgba(255, 255, 255, .3);
}
.content-box .header {
	position:relative;
	z-index:40;
	box-sizing:border-box;
	padding:3px;
	display:table;
	flex:0 1 auto;
	width:100%;
	background-color:rgba(100, 90, 80, .2);
}
.content-box .header .title {
	display:table-cell;
	font-size:120%;
	font-weight:bold;
}
.content-box .header .controls {
	width:auto;
	display:table-cell;
}
.polaroid {
	padding:2px;
	background-color:white;
	box-shadow:0px 1px 4px 1px rgba(0, 0, 0,.3);
}
.old-quote {
	padding:3px;
	box-shadow:0px 1px 4px 1px rgba(0, 0, 0,.1);
	background-color:white;
	font-size:100%;
	font-family:Script;
}
